/*
//////////////////////////////////////////////////////////////////////////////
       Reiniciando estilo
//////////////////////////////////////////////////////////////////////////////
*/

*{
    margin: 0;
    
}
html{
width: 100% ;
}

/*
//////////////////////////////////////////////////////////////////////////////
        Estilo del Header
//////////////////////////////////////////////////////////////////////////////
*/


/*
//////////////////////////////////////////////////////////////////////////////
        Estilo del 
//////////////////////////////////////////////////////////////////////////////
*/



/* a partir de @media es un break point     */
@media (max-width:600px){
    #navInferior{
        background-color: red;
        color: black;
        
    }

}