@charset "UTF-8";
* {
  margin: 0px;
  font-family: "ABeeZee", sans-serif;
}

h1, h2 {
  font-family: "Lobster Two", sans-serif;
  font-size: 50px;
  color: white;
}

/*
////////////////////////---------------TIPOGRAFIAS -------------------\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
/*

creo q las tipografias estan desde el index

titulos h2> 
font-family: 'Lobster Two', sans-serif;


tipografia para todo el contenido por defecto

font-family: 'Lobster Two', sans-serif;


*/
#navSuperior {
  background-color: rgb(37, 37, 59);
  height: auto;
  align-content: end;
}

#header a {
  color: white;
}

#navSuperior-ul {
  background-color: rgb(37, 37, 59);
}

#navSuperior-ul li:hover a {
  background-color: aqua;
  color: black;
}

#navSuperior .navbar-toggler {
  background-color: rgb(41, 190, 190);
}

#navInferior {
  background-color: rgb(41, 190, 190);
  height: 140px;
  width: 100%;
}

.navInferior-form i {
  border: 2px solid white;
  height: 38px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#navSuperior-imagenLogo {
  height: 60px;
  width: 60px;
  border-radius: 50px;
}

/* Efectos en header */
#header a:hover {
  color: rgb(151, 90, 211);
  text-decoration: underline;
  transition: 0.6s;
}

.footer, a {
  color: white;
}

/*
////////////////////////---------------Main -------------------\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
Todas las centrales tienen caracteristicas comunes. 

*/
.main {
  background-image: linear-gradient(to bottom, rgb(37, 37, 59), rgb(41, 190, 190), rgb(37, 37, 59));
  width: 100%;
  min-height: 100vh;
  color: white;
}

.titulos {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.home_central-img {
  width: 100%;
  height: auto;
}

/*
////////////////////////---------------Beack points -------------------\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
Todos los puntos de corte. 
Creo que lo manejo todo desde boostrap

*/
/* 
  //////////////////////////////////////////////////////////////////////////
  ES CLAVE QUE PONGA PROTOTIOS Y JUEGOS EN VENTA,  Con una transici[on de busqueda
  esto era solo para ver si el link me llevaba a ese punto. Esta bien*/
#prototipos {
  position: absolute;
  bottom: 0;
  width: 100%; /* Ancho completo */
  background-color: #f1f1f1; /* Color de fondo del artículo */
  padding: 20px; /* Espaciado interno */
  text-align: center; /* Alineación del contenido */
}

/* ///////////////////----------- NOSOTROS---////////////////
  Esta seccion la hice con grid especificamente para poder practicar

  hace lo que quiero, pero no exactamente. En la siguiente actualización lo voy a
  modificar para mejorarlo.  
  */
.NosotrosGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px;
  gap: 20px;
  grid-template-areas: "nosotros_text nosotrs_img";
}

.nosotros_text {
  padding: 15px 20px;
}

.nosotros_text .h3 {
  margin-left: 40%;
}

.nosotrs_img {
  width: 100%;
}

@media (max-width: 1200px) {
  .NosotrosGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 10px;
    gap: 10px;
    grid-template-areas: "nosotros_text" " nosotrs_img";
  }
  .nosotrs_img {
    width: auto;
    overflow: scroll;
  }
}
/*
////////////////////////---------------PARTICULARES -------------------\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
/*               Carruseles con boostrap*/
.carousel {
  width: 80%;
  margin-left: 10%;
}

.carousel-item img {
  border: 2px solid white;
  width: 80%;
}

/*------------------ BTN de compra ----------------*/
.btnCompras {
  padding: 10px;
  margin: 10px;
}

.btnCompras-p {
  padding-top: 15px;
  margin-left: 10px;
}

.btnCompras-btn {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: rgb(53, 170, 142);
  color: rgb(0, 0, 0);
}

/* 
//////////////////////////////////////////////////////////////////////////
ES CLAVE QUE PONGA PROTOTIOS Y JUEGOS EN VENTA,  Con una transici[on de busqueda
esto era solo para ver si el link me llevaba a ese punto. Esta bien*/
#prototipos {
  position: absolute;
  bottom: 0;
  width: 100%; /* Ancho completo */
  background-color: #f1f1f1; /* Color de fondo del artículo */
  padding: 20px; /* Espaciado interno */
  text-align: center; /* Alineación del contenido */
}

.construccion {
  background-image: url(../images/contruccion.jpg_large);
  color: white;
  min-height: 100vh;
}

.construccion {
  padding: 30px 40%;
}

/*# sourceMappingURL=style.css.map */
