@charset "UTF-8";
* {
  margin: 0px;
  font-family: "ABeeZee", sans-serif;
}

main {
  width: 100%;
}

h1, h2 {
  font-family: "Lobster Two", sans-serif;
  font-size: 50px;
  color: white;
}

/*
////////////////////////---------------TIPOGRAFIAS -------------------\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
/*

creo q las tipografias estan desde el index

titulos h2> 
font-family: 'Lobster Two', sans-serif;


tipografia para todo el contenido por defecto

font-family: 'Lobster Two', sans-serif;


*/
#navSuperior {
  background-color: rgb(37, 37, 59);
  height: auto;
  align-content: end;
}

#header a {
  color: white;
}

#navSuperior-ul {
  background-color: rgb(37, 37, 59);
}

#navSuperior-ul li:hover a {
  background-color: aqua;
  color: black;
}

#navSuperior .navbar-toggler {
  background-color: rgb(41, 190, 190);
}

#navInferior {
  background-color: rgb(41, 190, 190);
  height: 140px;
  width: 100%;
}

.navInferior-form i {
  border: 2px solid white;
  height: 38px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#navSuperior-imagenLogo {
  height: 60px;
  width: 60px;
  border-radius: 50px;
}

/* Efectos en header */
#header a:hover {
  color: rgb(151, 90, 211);
  text-decoration: underline;
  transition: 0.6s;
}

.footer, a {
  color: white;
}

/*
////////////////////////---------------Main -------------------\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
Todas las centrales tienen caracteristicas comunes. 

*/
.main {
  background-image: linear-gradient(to bottom, rgb(37, 37, 59), rgb(41, 190, 190), rgb(37, 37, 59));
  width: 100%;
  min-height: 100vh;
  color: white;
}

.titulos {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.home_central-img {
  width: 100%;
  height: auto;
}

h2 {
  text-align: center;
  padding: 20px;
}

/*
////////////////////////---------------PARTICULARES -------------------\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
/*               Carruseles con boostrap*/
.carousel-item {
  height: 600px;
}
.carousel-item img {
  object-fit: contain;
}

@media (max-width: 1200px) {
  .carousel-item {
    height: 300px;
  }
}
.carousel {
  width: 80%;
  margin-left: 10%;
}

/*------------------ BTN de compra ----------------*/
.btnCompras {
  padding: 10px;
  margin: 10px;
}

.btnCompras-p {
  padding-top: 15px;
  margin-left: 10px;
}

.btnCompras-btn {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: rgb(53, 170, 142);
  color: rgb(0, 0, 0);
}

/*
////////////////////////---------------Beack points -------------------\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
Todos los puntos de corte. 
Creo que lo manejo todo desde boostrap

*/
.construccion {
  background-image: url(../images/contruccion.jpg_large);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
}

@media (max-width: 768px) {
  .contenedor {
    height: 200px; /* Ajusta la altura para pantallas más pequeñas */
  }
}
.construccion {
  padding: 30px 40%;
}

.card {
  box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.726);
}

/* 
  //////////////////////////////////////////////////////////////////////////
  ES CLAVE QUE PONGA PROTOTIOS Y JUEGOS EN VENTA,  Con una transici[on de busqueda
  esto era solo para ver si el link me llevaba a ese punto. Esta bien*/
#prototipos {
  position: absolute;
  bottom: 0;
  width: 100%; /* Ancho completo */
  background-color: #f1f1f1; /* Color de fondo del artículo */
  padding: 20px; /* Espaciado interno */
  text-align: center; /* Alineación del contenido */
}

.resumenDeJuegos {
  background-color: rgb(9, 74, 136);
  color: white;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.resumenDeJuegos .card {
  margin: 25px;
  position: relative;
  width: 300px;
  height: 350px;
  background-color: rgb(9, 74, 136);
}
.resumenDeJuegos .card .face {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  backface-visibility: hidden;
  transition: 0.5s;
}
.resumenDeJuegos .card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 8px 10px #000;
}
.resumenDeJuegos .card .front img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.resumenDeJuegos .card .front h3 {
  position: absolute;
  bottom: 0;
  height: 45px;
  width: 100%;
  line-height: 45px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
}
.resumenDeJuegos .card .back {
  transform: perspective(600px) rotateY(180deg);
  background: rgb(3, 35, 54);
  padding: 15px;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #000;
}
.resumenDeJuegos .card .back .link {
  border-top: solid 1px white;
  height: 50px;
  line-height: 50px;
}
.resumenDeJuegos .card .back .link a {
  color: white;
}
.resumenDeJuegos .card .back h3 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
}
.resumenDeJuegos .card .back p {
  letter-spacing: 1px;
}

.card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}

@media (max-width: 1000px) {
  .resumenDeJuegos {
    flex-direction: column;
  }
}
.contenedor-eventos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 100px;
  background-image: url("../images/enjm5.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.contenedor-eventos .tienda {
  margin-top: 60px;
  height: 600px;
  width: 80%;
  border-radius: 10px;
  border: 4px solid black;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
}
.contenedor-eventos .tienda .detallesEvento h2 {
  color: black;
}
.contenedor-eventos .tienda-info {
  height: 90%;
  width: 50%;
  text-align: center;
  align-items: center;
  color: black;
}
.contenedor-eventos .tienda-galery {
  margin: 10px;
  height: 90%;
  width: 60%;
  overflow: hidden;
}
.contenedor-eventos .tienda-galery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contenedor-eventos .tienda-galery .carousel_item-mapa {
  width: 100%;
  height: 100%;
}
.contenedor-eventos .linkEmail, .contenedor-eventos .linkOrganizacion {
  margin: 30px;
  border-radius: 10px;
  color: #000;
}
.contenedor-eventos .linkEmail a, .contenedor-eventos .linkOrganizacion a {
  color: black;
}
@media (max-width: 3000px) {
  .contenedor-eventos .tienda {
    width: 95%;
    flex-direction: column;
    border: 4px solid white;
    height: auto;
  }
  .contenedor-eventos .tienda .tienda-galery {
    width: 100%;
    height: auto;
  }
  .contenedor-eventos .tienda .tienda-info {
    width: 90%;
    height: auto;
  }
}

.contacto-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacto-container h2 {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid silver;
}
.contacto-container .contacto-textBox {
  width: 80%;
  min-width: 750px;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacto-container .contacto_textBox-textArea {
  width: 50%;
  min-height: 200px;
  border-radius: 5px;
}
.contacto-container .input-contacto {
  border-radius: 10px;
  background-color: rgb(50, 50, 65);
  color: rgb(236, 215, 215);
  margin-top: 10px;
}
.contacto-container .contacto-enviar {
  margin-top: 15px;
  padding: 8px 16px;
  border-radius: 5px;
  background-color: rgb(50, 50, 65);
  color: rgb(236, 215, 215);
  font-weight: bold;
  cursor: pointer;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
}

/* ///////////////////----------- NOSOTROS---////////////////
  Esta seccion la hice con grid especificamente para poder practicar

  hace lo que quiero, pero no exactamente. En la siguiente actualización lo voy a
  modificar para mejorarlo.  
  */
.NosotrosGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px;
  gap: 20px;
  grid-template-areas: "nosotros_text nosotrs_img";
}

.nosotros_text {
  padding: 15px 20px;
}

.nosotros_text .h3 {
  margin-left: 40%;
}

.nosotrs_img {
  width: 100%;
}

@media (max-width: 1200px) {
  .NosotrosGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 10px;
    gap: 10px;
    grid-template-areas: "nosotros_text" " nosotrs_img";
  }
  .nosotrs_img {
    width: auto;
    overflow: scroll;
  }
}
.contenedor-tiendas {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 100px;
  background-image: url("../images/mapa.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.contenedor-tiendas .tienda {
  margin-top: 60px;
  height: 600px;
  width: 80%;
  border-radius: 10px;
  border: 4px solid black;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
}
.contenedor-tiendas .tienda-info {
  height: 90%;
  width: 50%;
  text-align: center;
  align-items: center;
  color: black;
}
.contenedor-tiendas .tienda-galery {
  margin: 10px;
  height: 90%;
  width: 60%;
  overflow: hidden;
}
.contenedor-tiendas .tienda-galery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contenedor-tiendas .tienda-galery .carousel_item-mapa {
  width: 100%;
  height: 100%;
}
.contenedor-tiendas .linkEmail {
  margin: 30px;
  border-radius: 10px;
}
.contenedor-tiendas .linkEmail a {
  color: black;
}
@media (max-width: 1300px) {
  .contenedor-tiendas .tienda {
    width: 95%;
    flex-direction: column;
    border: 4px solid white;
    height: auto;
  }
  .contenedor-tiendas .tienda .tienda-galery {
    width: 100%;
    height: auto;
  }
  .contenedor-tiendas .tienda .tienda-info {
    width: 90%;
    height: auto;
  }
}

.form-contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding-bottom: 100px;
  background-image: url("../images/creacion-de-personajes-de-rol.webp"); /* Reemplazar po una bueba imagen */
  background-size: cover;
  background-position: center;
}
.form-contenedor .form-log {
  height: auto;
  padding: 5px;
  margin-top: 10%;
  display: flex;
  width: 50%;
  min-width: 350px;
  border-radius: 10px;
  border: 4px solid black;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.2);
}
.form-contenedor .form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-contenedor .tabs {
  width: 100%;
  border-bottom: 4px solid black;
}
.form-contenedor .tab {
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 10px 10px 0px 0px;
  outline: none;
  background-color: #f2f2f2;
  margin-right: 5px;
}
.form-contenedor .tab:hover {
  background-color: #ddd;
}
.form-contenedor .submit-log {
  background-color: rgb(50, 50, 65);
  color: rgb(236, 215, 215);
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  margin-left: 40%;
}

.carrito-contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding-bottom: 100px;
  background-image: url("../images/tiendaMedieval.png"); /* Reemplazar po una bueba imagen */
  background-size: cover;
  background-position: center;
}

.carrito {
  width: 80%;
  height: 80%;
  padding: 10px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  gap: 10px;
  justify-content: center;
}
.carrito .carrito-listado {
  width: 60%;
  padding: 10px;
}
.carrito .carrito-resumen {
  border: 1px solid white;
  border-radius: 1px;
  width: auto;
  padding: 15px;
}

/*# sourceMappingURL=style.css.map */
