 //------------------ Elementos que uso para construir

  // Las variables deben ser definidas antes de usarse.
  $bordPrueba: 2px solid white;

    .construccion{
      background-image: url(../images/contruccion.jpg_large) ;
      background-size:contain;
      background-position: center;
      background-repeat: no-repeat;
      max-width: 100%;
      height: 400px;
      color: white;

      // border: $bordPrueba; Si quisiera implementar el borde prueba es asi
  
      
    }

    @media (max-width: 768px) {
      .contenedor {
        height: 200px; /* Ajusta la altura para pantallas más pequeñas */
      }
    }
  
    .construccion{
      padding: 30px 40%;
      
    }
  
// en clase 13, muestra como darle sombras
    .card{
      box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.726) ;
    }