
  /*
  ////////////////////////---------------Main -------------------\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
  Todas las centrales tienen caracteristicas comunes. 
  
  */
  









  
  .main{
    background-image: linear-gradient(
      to bottom, rgb(37, 37, 59), rgb(41, 190, 190), rgb(37, 37, 59) );
      width: 100%;
      min-height: 100vh;
      color: white;
  
  }
  
  .titulos{
    display: flex;
   justify-content: center;
   padding: 15px;
  
  }
  
  .home_central-img{
  
    width: 100%;
    height: auto;
  }
  
  h2{
    text-align: center;
    padding: 20px;
  }


  
  /*
  ////////////////////////---------------PARTICULARES -------------------\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
  */
  
  
  /*               Carruseles con boostrap*/
  
  .carousel-item{
   
    height: 600px;
    img{
      object-fit: contain;
    }
  }
  

  @media (max-width: 1200px){
    .carousel-item{
    height: 300px;}
  }

  .carousel{
    width: 80%;
    margin-left: 10%;
   
  }
  

  
  /*------------------ BTN de compra ----------------*/
  
  .btnCompras{
  padding: 10px;
  margin: 10px;
  }
  
  .btnCompras-p{
    padding-top:  15px;
    margin-left: 10px;
  }
  
  .btnCompras-btn{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color:rgb(53, 170, 142);
    color: rgb(0, 0, 0);
  }
  
  
  
  