//-------------- reset-----------------//

*{
    margin: 0px;
    font-family: 'ABeeZee', sans-serif;

  }


  

  main{
  
    width: 100%;
  }
  
  h1, h2 {
    font-family: 'Lobster Two', sans-serif;
    font-size: 50px;
    color: white;
  }
  

  /*
////////////////////////---------------TIPOGRAFIAS -------------------\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
/*

creo q las tipografias estan desde el index

titulos h2> 
font-family: 'Lobster Two', sans-serif;


tipografia para todo el contenido por defecto

font-family: 'Lobster Two', sans-serif;


*/

