


@mixin input-style() {
    background-color: rgb(50, 50, 65);
    color: rgb(236, 215, 215);
    border-radius: 10px;
     box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  }


.form-contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    
    width: 100%;
    height: 100vh;
    padding-bottom: 100px;
    background-image: url('../images/creacion-de-personajes-de-rol.webp'); /* Reemplazar po una bueba imagen */
    background-size: cover;
    background-position: center;
  // Esta es la clave, y que tenga un min heit con un paddin botto para que no se rompa


    .form-log{
        height: auto;
        padding: 5px;
        margin-top: 10%;
        display: flex;
        width: 50%;
        min-width: 350px;
        border-radius: 10px;
        border: 4px solid black;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        backdrop-filter: blur(10px);
        background: rgba(255, 255, 255, 0.2);
        
    }
    .form {
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    
    .tabs {
       
        width: 100%;
        
         border-bottom: 4px solid black;
    }
    
    .tab {
        
     
        cursor: pointer;
         border: 1px solid gray;
        border-radius: 10px 10px 0px 0px;
        outline: none;
        background-color: #f2f2f2;
        margin-right: 5px;
        &:hover {
            background-color: #ddd;
    
        }
    }    
   .submit-log{
    @include input-style();
    margin-left: 40%;
   }

   


}



  