.contenedor-formulario{
         display: flex;
       flex-direction: column;
       align-items: center;
       
       .formulario-login{
    
        border-radius: 10px;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
        position: relative;
        margin-top: auto;
        margin-left: auto;
        width: 800px;
        height: auto;
        text-align: left;
        padding: 20px 100px;
            h2{
            text-align: center;
            padding: 10px;
            border-bottom: 1px solid silver;
          
        }
        input{
           border-radius: 10px;
                   }
            label{
            opacity: 50%;
        }
    }
}




.fondo-log{
    background-image: url();
}