@import "prototipos";


.resumenDeJuegos{
    background-color: rgb(9, 74, 136);
    color: white;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;

   .resumen-seccion{
   
    display: flex;
       
   }
    .card{
        margin: 25px;
        position: relative;
        min-width: 300px;
        height: 350px;
        background-color: rgb(9, 74, 136);

        .face{
            position: absolute;
            height: 100%;
            width: 100%;
            border-radius: 10px;
            overflow: hidden;
            backface-visibility: hidden;
            transition: .5s;
        
         }
         .front{
            transform: perspective(600px) rotateY(0deg);
            box-shadow: 0 8px 10px #000;
            img{
                position: absolute;
                height: 100%;
                width: 100%;
                object-fit: cover;
             }
             h3{
                position: absolute;
                bottom: 0;
                height: 45px;
                width: 100%;
                line-height: 45px;
                color: #fff;
                background-color: rgb(0, 0, 0,  .4);
                text-align: center;
             }
         }
     
         .back{
            transform: perspective(600px) rotateY(180deg);
            background: rgb(3, 35, 54);
            padding: 15px;
            color: #f3f3f3;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
            box-shadow: 0 5px 10px #000;
            .link{
                border-top: solid 1px white ;
                height: 50px;
                line-height: 50px;
                a{   color: white;
                             }
             }
             h3{
                font-size: 30px;
                margin-top: 20px;
                letter-spacing: 2px;
            }
            p{
                letter-spacing: 1px;
            }
        
         }
        }

}




.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}

@media (max-width: 1100px) {

    .resumenDeJuegos{
        flex-direction: column;
        .resumen-seccion{
            flex-direction: column;
        }
    }

    }