/* 
  //////////////////////////////////////////////////////////////////////////
  ES CLAVE QUE PONGA PROTOTIOS Y JUEGOS EN VENTA,  Con una transici[on de busqueda
  esto era solo para ver si el link me llevaba a ese punto. Esta bien*/
  #prototipos{
    position: absolute;
    bottom: 0;
    width: 100%; /* Ancho completo */
    background-color: #f1f1f1; /* Color de fondo del artículo */
    padding: 20px; /* Espaciado interno */
    text-align: center; /* Alineación del contenido */
  }
  