
@mixin input-style() {
    background-color: rgb(50, 50, 65);
    color: rgb(236, 215, 215);
  }



.contacto-container{

    display: flex;
    flex-direction: column;
    align-items: center;
     

     
    h2{
        text-align: center;
        padding: 20px;
        border-bottom: 1px solid silver;
      
    }

    .contacto-textBox{
        width: 80%;
        min-width: 750px;
        padding-top: 20px;
    
        display: flex;
        align-items: center;
        justify-content: center; 

    }
    .contacto_textBox-textArea{
        width: 50%;
        min-height:200px ;
        border-radius: 5px;
      
        
    }
    .input-contacto{
        border-radius: 10px;
        @include input-style();
        margin-top: 10px;
                }
    .contacto-enviar{
        margin-top: 15px;
        padding: 8px 16px;
        border-radius: 5px;
        @include input-style();
        font-weight: bold;
        cursor: pointer;
        box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
       
    }
}